<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ribbit2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Ribbit2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--
        Here an external class has been added as the entry point to the app
        this is a good place to do extra processing before the app starts
        -->

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="YbjMHSOKdU6OgYisIreFLUbmuxI4McupDDPlH0tJ" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="KXQy069WDos3ulGfhMSkBJ7JV47l28z7SOGrcc0E" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- The Launcher intent filter makes this the default actvity on startup on startup -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
